Django
Markdown
Pygments
Werkzeug
django-debug-toolbar
django-extensions
django-pdb
django-taggit
django-tastypie
facepy
feedparser
gunicorn
hamlpy
icalendar
mimeparse
python-dateutil
requests
tweepy
django-leaflet
geopy
pyyaml
beautifulsoup4
html5lib
dateparser
