appdirs==1.4.0
argh==0.26.1
baron==0.6.1
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
colorific==0.3
colormath==2.1.1
contextlib2==0.5.1
dateparser==0.3.2
decorator==4.0.9
Django==1.7.11
django-bower==5.1.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-leaflet==0.15.1
django-pdb==0.4.2
django-taggit==0.18.0
django-tastypie==0.13.1
django-view-dispatch==0.1
facepy==1.0.8
feedparser==5.2.1
geopy==1.11.0
gunicorn==19.4.5
hamlpy==0.82.2
html5lib==0.9999999
icalendar==3.9.2
ipython==4.1.2
ipython-genutils==0.1.0
jdatetime==1.7.2
Markdown==2.6.5
mimeparse==0.1.3
networkx==1.11
numpy==1.10.4
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
psycopg2==2.6.1
ptyprocess==0.5.1
Pygments==2.1
python-dateutil==2.4.2
python-mimeparse==1.5.1
pytz==2015.7
PyYAML==3.11
raven==5.10.2
redbaron==0.5.1
requests==2.9.1
requests-oauthlib==0.6.0
rply==0.7.4
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.2.1
tweepy==3.5.0
umalqurra==0.2
weirdict==0.3.0
Werkzeug==0.11.3
wheel==0.24.0
