-extends "base.haml"

-block content
  .ten.columns
    %h3 Interface d'administration des événements
  .two.columns
    %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
      Deconnexion

  %hr
