-extends "base.haml"

-block content
  .row
    .ten.columns
      %h3 Interface d'administration des événements
    .two.columns
      %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
        %a{href: "{% url 'logout' %}"}
          Deconnexion

  %hr{style: "margin-top: 0px"}

  %p
    -if sources.exists
      Vous êtes responsables des sources suivantes:
      -for source in sources
        %span.label
          =source.name
    -else
      Vous n'êtes responsables d'aucunes sources d'événements.

  %form.panel{method: "POST"}
    %h4 Rajouter un nouvel événement

    -csrf_token

    %div
      .row
        .nine.columns
          =form.title.label_tag
          =form.title
          -if form.title.errors
            %small.error
              =form.title.errors|first
        .three.columns
          =form.source.label_tag
          =form.source
          -if form.source.errors
            %small.error
              =form.source.errors|first

      .row
        .six.columns
          =form.url.label_tag
          =form.url
          -if form.url.errors
            %small.error
              =form.url.errors|first
        .six.columns
          =form.location.label_tag
          =form.location
          -if form.location.errors
            %small.error
              =form.location.errors|first

      .row
        .five.columns
          =form.start.label_tag
          =form.start
          -if form.start.errors
            %small.error
              =form.start.errors|first
        .one.columns
          %br
          %br
          =form.all_day.label_tag
        .one.columns
          %br
          %br
          =form.all_day
        .five.columns
          =form.end.label_tag
          =form.end
          -if form.end.errors
            %small.error
              =form.end.errors|first

    %input.button{type: "submit", value: "Add new event"}
