-extends "base.haml"

-block content
  .row
    .ten.columns
      %h3 Interface d'administration des événements
    .two.columns
      %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
        %a{href: "{% url 'logout' %}"}
          Deconnexion

  %hr{style: "margin-top: 0px"}

  %p
    -if user.usersource_set.exists
      Vous êtes responsables des sources suivantes:
      -for usersource in user.usersource_set.all
        %span.label
          =usersource.source
    -else
      Vous n'êtes responsables d'aucunes sources d'événements.
