-extends "base.haml"

-block content
  .row
    .ten.columns
      %h3 Events management admin interface
    .two.columns
      %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
        %a{href: "{% url 'logout' %}"}
          Deconnexion

  %hr{style: "margin-top: 0px"}

  %p
    -if sources.exists
      You are responsible of the following sources of events:
      -for source in sources
        %span.label{style: "color: {{ source.text_color }}; background: {{ source.border_color }}"}
          =source.name
    -else
      You aren't responsible of any sources of events.

  %form.panel{method: "POST"}
    %h4 Add a new event

    -csrf_token

    %div
      .row
        .nine.columns
          =form.title.label_tag
          =form.title
          -if form.title.errors
            %small.error
              =form.title.errors|first
        .three.columns
          =form.source.label_tag
          =form.source
          -if form.source.errors
            %small.error
              =form.source.errors|first

      .row
        .six.columns
          =form.url.label_tag
          =form.url
          -if form.url.errors
            %small.error
              =form.url.errors|first
        .six.columns
          =form.location.label_tag
          =form.location
          -if form.location.errors
            %small.error
              =form.location.errors|first

      .row
        .five.columns
          =form.start.label_tag
          =form.start
          -if form.start.errors
            %small.error
              =form.start.errors|first
        .one.columns
          %br
          %br
          =form.all_day.label_tag
        .one.columns
          %br
          %br
          =form.all_day
        .five.columns
          =form.end.label_tag
          =form.end
          -if form.end.errors
            %small.error
              =form.end.errors|first

    %input.button{type: "submit", value: "Add new event"}

  %h4 Next events

  %div{style: "padding-left: 20px"}
    %ul
    -for event in next_events
      %li
        <span class="label" style="color: {{ event.text_color }}; background: {{ event.border_color }}">{{ event.title }}</span>
        \-
        %a{href: "{{ event.url }}"}
          =event.url
        \-
        start:
        =event.start
        -if event.end
          \-
          end:
          =event.end
        -if event.all_day
          \-
          all day
        -if event.location
          \-
          at:
          =event.location
    -empty
      %p No next events in your sources.

  %h4 Previous events

  %div{style: "padding-left: 20px"}
    %ul
    -for event in previous_events
      %li
        <span class="label" style="color: {{ event.text_color }}; background: {{ event.border_color }}">{{ event.title }}</span>
        \-
        %a{href: "{{ event.url }}"}
          =event.url
        \-
        start:
        =event.start
        -if event.end
          \-
          end:
          =event.end
        -if event.all_day
          \-
          all day
        -if event.location
          \-
          at:
          =event.location
    -empty
      %p No previous events in your sources.

  %hr

-block javascript
  %link{href: "{{ STATIC_URL }}stylesheets/jquery-ui.min.css", rel: "stylesheet"}
  %script{src: "{{ STATIC_URL }}javascripts/jquery-ui.min.js"}
  :javascript
    $(function() {
      $("#id_start").datepicker();
      $("#id_end").datepicker();
    });
