-extends "base.haml"

-block content
  .row
    .ten.columns
      %h3 Interface d'administration des événements
    .two.columns
      %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
        %a{href: "{% url 'logout' %}"}
          Deconnexion

  %hr{style: "margin-top: 0px"}

  %p
    -if user.usersource_set.exists
      Vous êtes responsables des sources suivantes:
      -for usersource in user.usersource_set.all
        %span.label
          =usersource.source
    -else
      Vous n'êtes responsables d'aucunes sources d'événements.

  %form.panel{method: "POST"}
    %h4 Rajouter un nouvel événement

    -csrf_token

    %div
      .row
        .nine.columns
          =form.title.label_tag
          =form.title
        .three.columns
          =form.source.label_tag
          =form.source

      .row
        .six.columns
          =form.url.label_tag
          =form.url
        .six.columns
          =form.location.label_tag
          =form.location

      .row
        .five.columns
          =form.start.label_tag
          =form.start
        .one.columns
          %br
          %br
          =form.all_day.label_tag
        .one.columns
          %br
          %br
          =form.all_day
        .five.columns
          =form.end.label_tag
          =form.end

    %input.button{type: "submit", value: "Add new event"}
