-extends "base.haml"

-block content
  .row
    .ten.columns
      %h3 Events management admin interface
    .two.columns
      %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
        %a{href: "{% url 'logout' %}"}
          Deconnexion

  %hr{style: "margin-top: 0px"}

  %p
    -if sources.exists
      You are responsible of the following sources of events:
      -for source in sources
        %span.label{style: "color: {{ source.text_color }}; background: {{ source.border_color }}"}
          =source.name
    -else
      You aren't responsible of any sources of events.

  %form.panel{method: "POST"}
    %h4 Add a new event

    -csrf_token

    %div
      .row
        .nine.columns
          =form.title.label_tag
          =form.title
          -if form.title.errors
            %small.error
              =form.title.errors|first
        .three.columns
          =form.source.label_tag
          =form.source
          -if form.source.errors
            %small.error
              =form.source.errors|first

      .row
        .six.columns
          =form.url.label_tag
          =form.url
          -if form.url.errors
            %small.error
              =form.url.errors|first
        .six.columns
          =form.location.label_tag
          =form.location
          -if form.location.errors
            %small.error
              =form.location.errors|first

      .row
        .five.columns
          =form.start.label_tag
          =form.start
          -if form.start.errors
            %small.error
              =form.start.errors|first
        .one.columns
          %br
          %br
          =form.all_day.label_tag
        .one.columns
          %br
          %br
          =form.all_day
        .five.columns
          =form.end.label_tag
          =form.end
          -if form.end.errors
            %small.error
              =form.end.errors|first

    %input.button{type: "submit", value: "Add new event"}

  %h4 Next events

  -for event in next_events
    %p= event.title
  -empty
    %p No next events in your sources.

  %h4 Previous events

  -for event in previous_events
    %p= event.title
  -empty
    %p No previous events in your sources.
