-extends "base.haml"

-block content
  .ten.columns
    %h3 Interface d'administration des événements
  .two.columns
    %p{style: "float: right; margin-top: 22px; margin-bottom: 14px"}
      %a{href: "{% url 'logout' %}"}
        Deconnexion

  %hr

  %p
    Vous êtes responsables des sources suivantes:
    -for usersource in user.usersource_set.all
      %span.label
        =usersource.source
