-load events_tags

-regroup object_list by start.date|date:"F o" as event_list

-for group in event_list
  -if forloop.first
    %div
      %h3= group.grouper

  -else
    %div
      %center
        %h1
          ֮
    %div
      %h3= group.grouper

  %div
    -regroup group.list by start|date:"l j" as group_list
    -for event_list in group_list
      -for event in event_list.list
        -if forloop.first
          .row
            .small-3.columns
              -if event.start.date == event.start.date.today
                %h4 Today
              -else
                %h4= event.start|date:"l j"
        .row
          .small-2.columns.text-center
            %h4
              %small
                -if not event.all_day and event.start.hour != 0
                  -if event.end
                    {{ event.start|date:"H:i" }} to {{ event.end|date:"H:i" }}
                  -else
                    =event.start|date:"H:i"
                -else
                  All day
          .small-3.columns.text-center{style: "padding-top: 5px"}
            %h5{style: 'background-color: {{ event.border_color|default:"black" }}; color: {{ event.text_color|default:"white" }}; padding: 3px; padding-left: 6px; padding-right: 6px; line-height: 1.5'}
              %span= event.source|upper|underscore_to_space
          .small-7.columns
            %h4
              %a{href: "{{ event.url }}"}= event.title
              -if event.location
                %br
                %small at
                  =event.location
        -if forloop.last and not forloop.parentloop.last
          %hr.separation-bar
