-load events_tags

#filter_bar.snap-drawers.row
  .snap-drawer.snap-drawer-left.six.columns
    %h2
      Sélection
    %hr
    %p
      Ce menu permet de filtrer les<br>
      évènements par source ou par tags.<br>
      Il y a 3 états possibles pour chaque<br>
      option dans 3 états: inclusive (en<br>
      couleur), inactive (en gris) et exclusive<br>
      (barré). Les options incluses seront<br>
      affichées ("IN" en SQL), les options<br>
      excluses seront enlevées ("NOT IN" en SQL).<br>
      Les options inactives sont ignorées.
    %p
      Les options modifient aussi le contenu<br>
      du flux RSS et du calendrier ICS.
    %h3
      Par source
    %ul#sources.filters
      -for source, options in sources
        %li{style: "margin: 3px"}
          %a{data: 'background-color: {{ options.bg|default:"black" }}; color: {{ options.fg|default:"white" }}; padding: 3px; padding-left: 6px; padding-right: 6px;', href: "#", data-type: "source"}= source|upper|underscore_to_space
    %h3
      Par tags
    %ul#tags.filters
      -for name in tags
        %li
          %a{href: "#", data-type: "tag"}= name
