-load events_tags

#filter_bar.snap-drawers.row
  .snap-drawer.snap-drawer-left.twelve.columns
    %h2
      Selection
    %hr
    %p
      This will also modify the result of the RSS and of the ICS
    %h3
      By sources
    %ul#sources.filters
      -for source, options in sources
        %li{style: "margin: 3px"}
          %a{data: 'background-color: {{ options.bg|default:"black" }}; color: {{ options.fg|default:"white" }}; padding: 3px; padding-left: 6px; padding-right: 6px;', href: "#", data-type: "source"}= source|upper|underscore_to_space
    %h3
      By tags
    %ul#tags.filters
      -for name in tags
        %li
          %a{href: "#", data-type: "tag"}= name
