-load events_tags

#filter_bar.snap-drawers.row
  .snap-drawer.snap-drawer-left.six.columns
    %h2
      Sélection
    %hr
    %p
      Ce menu permet de filtrer les évènements par source ou par tags. Il y a 3 états possibles pour chaque option dans 3 états: inclusive (en couleur), inactive (en gris) et exclusive (barré). Les options incluses seront affichées ("IN" en SQL), les options excluses seront enlevées ("NOT IN" en SQL). Les options inactives sont ignorées.
    %p
      Les options modifient aussi le contenu du flux RSS et du calendrier ICS.
    %h3
      Par source
    %ul#sources.filters
      -for source, options in sources
        %li{style: "margin: 3px"}
          %a{data: 'background-color: {{ options.bg|default:"black" }}; color: {{ options.fg|default:"white" }}; padding: 3px; padding-left: 6px; padding-right: 6px;', href: "#", data-type: "source"}= source|upper|underscore_to_space
    %h3
      Par tags
    %ul#tags.filters
      -for name in tags
        %li
          %a{href: "#", data-type: "tag"}= name
