-extends "base.haml"
-load static
-load events_tags

-block head
  %link{rel: "stylesheet", type: "text/css", href: "{% static 'fullcalendar/fullcalendar.css' %}"}
  :css
    .fc-state-highlight {
      background: none repeat scroll 0 0 #FCEB8F;
    }

-block content
  %hr

  %div
    %center
      %a#open_filter_tag_bar.button
        Filters
      %a.button.secondary Hackerspace
      %a.button.secondary Code
      %a.button.secondary Activism
      %a.round.button.alert{href: "{% url 'events_rss' %}"}
        RSS
      %a.round.button.success{href: "{% url 'events_ics' %}"}
        ICS

  %hr

  %dl.tabs
    %dd.active
      %a{href: "#table"}
        Table
    %dd
      %a{href: "#list"}
        List

  %ul.tabs-content
    %li#tableTab.active
      #calendar

    %li#listTab
      #listFormat
          -regroup event_list by start.date|date:"F o" as event_list
          -for group in event_list
            -if forloop.first
              %div{style: "padding-left: 30px"}
                %h3= group.grouper
            -else
              %div{style: "padding-top: 45px"}
                %center
                  %h1
                    ֮
              %div{style: "padding-left: 30px;"}
                %h3= group.grouper
            %div{style: "padding-left: 30px"}
              -regroup group.list by start|date:"l j" as group_list
              -for event_list in group_list
                -for event in event_list.list
                  -if forloop.first
                    .row
                      .three.columns
                        -if event.start.date == event.start.date.today
                          %h4 Today
                        -else
                          %h4= event.start|date:"l j"
                  .row
                    .two.columns
                      %center
                        %h3
                          %small
                            -if not event.all_day and event.start.hour != 0
                              -if event.end
                                {{ event.start|date:"H:i" }} to {{ event.end|date:"H:i" }}
                              -else
                                =event.start|date:"H:i"
                            -else
                              All day
                    .three.columns{style: "padding-top: 5px"}
                      %center
                        %h5
                          %span{style: 'background-color: {{ event.background_color|default:"black" }}; color: {{ event.text_color|default:"white" }}; padding: 3px; padding-left: 6px; padding-right: 6px;'}= event.source|upper|underscore_to_space
                    .seven.columns
                      %h4
                        %a{href: "{{ event.url }}"}= event.title
                        -if event.location
                          %br
                          %small at
                            =event.location
                  -if forloop.last and not forloop.parentloop.last
                    .row
                      .three.columns
                      .six.columns
                        %hr
                      .three.columns

  %hr
  %h2 FAQ
  %ul
    %li
      %b What's that?
      %br
      %p.faq
        It is an agenda that centralize events that can interest hackers in Belgium. It grabs informations by parsing hackerspaces/others website. You can find the source code <a href="https://github.com/Psycojoker/hackeragenda">here</a>.
      %p.faq
        It is a (time I can find in) one weekend project to help a community that I love and try to encourage its members to interact more together.

      %p.faq
        We now hacked a special JSON format, you can submit url of a document respecting this format bysending me <a href="mailto: brain at worlddomination.be">an email</a>. See below for the format specification.
    %li
      %b My wonderful organization isn't present! This is SKANDALOUSE!
      %p.faq
        Either I didn't knew its existence, either I didn't found the list of event on the website (I've put organizations that I knew in Brussels + hackerspaces from hackerspaces.org/Belgium). Send me <a href="mailto: brain at worlddomination.be">an email</a> or <a href="https://github.com/Psycojoker/hackeragenda/issues/new">open a bug</a> with the correct informations (basically I need an url from which I can extract events in a structured way) or <a href="https://github.com/Psycojoker/hackeragenda">patch</a>.

    %li
      %b
        JSON Format
      %br
      %p.faq
        Hackeragenda accepts a simplified Json format for an organisation to specify it's upcoming events.

      %p.faq
        For the moment it's a simple json object, composed of the keys:
          %ul
            %li "org" : Organisation name (mandatory)
            %li "api" : API version number (mandatory)
            %li "events" : A list of event object (mandatory)
      %p.faq
        Each event object can contain the following keys:
          %ul
            %li "title" : Name of the event that will be displayed  (mandatory)
            %li "url" : URL for this event (mandatory)
            %li "start" : start date of the event, in ISO8601 (mandatory)
            %li "end" : end of the event, in ISO8601 (optional)
            %li "all_day" : Is the event the whole day? (optional)
            %li "location" : Human readable adress for your event (optional)

      %p.faq
          Example :
          %pre.panel
            "org": "afypro",
            "api" : 0.1,
            "events" : [
                    {<br>
                       "title": "Small conf",<br>
                       "start": "2012-05-23 12:00",<br>
                       "end": "2012-05-23 18:23",<br>
                       "all_day": false,<br>
                       "url": "http://..."<br>
                    },
                    {<br>
                       "title": "Marvelous conference",<br>
                       "start": "2012-05-23 12:00",<br>
                       "all_day": true,<br>
                       "location": "123 avenue du soleil",<br>
                       "url": "http://..."<br>
                    }
                ]
            }
    %li
      %b What kind of stuff are you ready to add?
      %p.faq
        More or less anything that can interest hackers. But right now, I haven't coded a way to filter stuff yet so I'm refraining myself a bit. A part of my mental planning is: various meetup related to programming languages/framework/tools/sysadmin/network/hardware, LUGs, hacktivism, fablabs for which I managed to find an agenda and maybe a bit out of the bubble stuff like commons good events.

    %li
      %b Can I submit an event?
      %p.faq
        No/not yet, I was too lazy/haven't got the time to code this part. Feel free to <a href="https://github.com/Psycojoker/hackeragenda">send me a patch</a>.

    %li
      %b My organization has a strange colour.
      %p.faq
        I've either try to find some kind of colour already chosen by the organization or just picked up one randomly (except for UrLab, I love pink). If you aren't happy, <a href="https://github.com/Psycojoker/hackeragenda/issues/new">open a bug</a> or <a href="https://github.com/Psycojoker/hackeragenda">send a patch</a> (edit <a href="https://github.com/Psycojoker/hackeragenda/blob/master/events/colors.py">this file</a>).

    %li
      %b Do you have an API?
      %p.faq
        Yes, you can access all the Event table <a href="/events/api/event/?format=json">here</a>. IF you want to play directly with the data used by the calendar (which is <a href="http://arshaw.com/fullcalendar/">fullcalendar</a>), use <a href="{% url 'events_json' %}">this url</a>.

    %li
      %b Why so many hearts?
      %p.faq
        Because Love.


  %center
    %a{href: "http://thecatapi.com/"}
      %img{src: "http://thecatapi.com/api/images/get?format=src&size=small"}

  %hr

-block filter_bar
  #filter_bar.snap-drawers.row
    .snap-drawer.snap-drawer-left.twelve.columns
      %h2
        Filters
      %hr
      %h3
        By sources
      %ul
        %li a
        %li b
        %li c
      %h3
        By tags
      %ul
        %li a
        %li b
        %li c

-block javascript
  %script{type: "text/javascript", src: "{% static 'fullcalendar/fullcalendar.js' %}"}
  %script{type: "text/javascript", src: "{% static 'snapjs/snap.min.js' %}"}
  :javascript
    $(document).ready(function() {
      $("#calendar").fullCalendar({
        firstDay: 1,
        events: '{% url 'events_json' %}',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
      });
      var snapper = new Snap({
        element: document.getElementById('content'),
        disable: 'right'
      });
      $('#open_filter_tag_bar').click(function() {
        if (snapper.state().state == 'closed')
          snapper.open('left');
        else
          snapper.close('left');
      })
    })
  :css
    .faq {
      margin-left: 14px;
    }
