-extends "base.haml"
-load static

-block head
  %link{rel: "stylesheet", type: "text/css", href: "{% static 'fullcalendar/fullcalendar.css' %}"}

-block content
  #calendar

-block javascript
  %script{type: "text/javascript", src: "{% static 'fullcalendar/fullcalendar.js' %}"}
  :javascript
    $(document).ready(function() {
      $("#calendar").fullCalendar({
        firstDay: 1,
      });
    })
