-extends "administration/base.haml"

-block admin_content
  %form.panel{method: "POST"}
    %h4 Pasword modification

    -csrf_token

    %p
      Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.

    =form.old_password.label_tag
    =form.old_password

    =form.new_password1.label_tag
    =form.new_password1

    =form.new_password2.label_tag
    =form.new_password2

    %input.button{type: "submit", value: "Change my password"}

-block javascript
  :javascript
    document.getElementById("id_old_password").focus();
